[33mc7d5e27[m[33m ([m[1;36mHEAD -> [m[1;32mnextjs_refact[m[33m)[m add OAuth
[33mb3ba13e[m add OAuth
[33ma9c809c[m add Aouth
[33m3a8fc79[m[33m ([m[1;31morigin/nextjs_refact[m[33m)[m add next status
[33m45908e0[m midlleware refact
[33m51778bc[m[33m ([m[1;31morigin/friends_room_24[m[33m, [m[1;32mfriends_room_24[m[33m)[m enable friend check
[33m47ff301[m[33m ([m[1;31morigin/dev[m[33m, [m[1;31morigin/HEAD[m[33m, [m[1;32mdev[m[33m)[m Merge pull request #21 from Anya-Stella/Cut-into-Packages
[33m2da7a5d[m[33m ([m[1;31morigin/Cut-into-Packages[m[33m)[m 🎨 Docker compose up --build
[33m01a46a1[m 🎨 モノレポ仕様にして、パッケージフォルダを用意した
[33m5c952b7[m[33m ([m[1;31morigin/mkuida/fix-prisma[m[33m)[m env
[33m40b51f7[m db modify
[33m89662df[m docker
[33m4c9f38c[m Merge pull request #11 from Anya-Stella/add_gemini/#10
[33m3c669dd[m Merge branch 'dev' into add_gemini/#10
[33m44d6c5f[m Merge pull request #4 from Anya-Stella/engine
[33mf61f8dc[m コマが動くようにした
[33m364201e[m geminiのskillを追加
[33ma6bad67[m geminiのskillを追加
[33m0253120[m 詰みのときゲームを終わるようにした
[33m4c1b6a7[m 詰みのときゲームを終わるようにした
[33m619d546[m 金をうてるようにした
[33ma924120[m hooksの中身をリファクタリングした
[33me65bf0a[m ai対戦で持ち駒を正常にした
[33md66e6a1[m ai対戦ができるようになった
[33mffcb895[m ai対戦を実装した
[33m7ddbd0d[m 無限ループを直した
[33m188c001[m useのリファクタリング
[33m897ced7[m 合法手の判定をした
[33m7ff7fe3[m 合法手の判定をした
[33m8718e3a[m jadge legal move
[33m166b80d[m[33m ([m[1;31morigin/ws-status-check-#1[m[33m)[m w-sのフロントの修正
[33mcca4848[m 1st commit
[33m7291986[m[33m ([m[1;31morigin/main[m[33m)[m 🎨 First commit
